<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="plm.oop.com.plmac">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/newlogo"
        android:label="PLMAC"
        android:roundIcon="@mipmap/newlogo"
        android:supportsRtl="true">
        <activity
            android:name=".IntroScreenActivity"
            android:theme="@style/LogoScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FacultyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InformationActivity"
            android:theme="@style/LogoScreen" />
        <activity
            android:name=".StudentMainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".QRScanner"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".FacultyHomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FacultyViewProfile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FacultyUpdatePassword"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AdminActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AdminFaculty"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AdminStudent"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AdminSubject"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StudentUpdatePassword"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StudentViewSubjects"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FacultyViewSubject"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FacultyCheckAttendance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NewsStudentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NewsFacultyActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>